@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input[type='submit'], button, [aria-label] {
    font-family: "Oswald", sans-serif;
}

input[type='text'], input[type='tel'], input[type='number'], input[type='email'], input[type='date']{
    font-family: "Oswald", sans-serif;
    width: 100%;
    height: 10%;

}

table {
    font-family: "Oswald", sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    background-color: #f8f8f8;
    padding: 5px;
}

td {
    border: 1px solid;
    padding: 5px;
}

#showaddform{
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: white;
    background-color: black;
    transition-duration: 0.4s;
}

#showaddform:hover{
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: white;
    background-color: lime;
    border-color: lime;
}

#goback{
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: white;
    background-color: black;
    transition-duration: 0.4s;
}

#goback:hover{
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: black;
    background-color: white;
    border-color: black;
}

.editBton{
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: black;
    background-color: transparent;
    border-color: transparent;
    transition-duration: 0.4s;
}

.editBton:hover{
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: white;
    background-color: blue;
    border-color: blue;
    transition-duration: 0.4s;
}

.deleteBton{
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: black;
    background-color: transparent;
    border-color: transparent;
    transition-duration: 0.4s;
}

.deleteBton:hover{
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: white;
    background-color: red;
    border-color: red;
    transition-duration: 0.4s;
}

.cancel{
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: black;
    background-color: transparent;
    border-color: transparent;
    transition-duration: 0.4s;
}

.cancel:hover{
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: white;
    background-color: red;
    border-color: red;
    transition-duration: 0.4s;
}

.submit{
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: black;
    background-color: transparent;
    border-color: transparent;
    transition-duration: 0.4s;
}

.submit:hover{
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: white;
    background-color: blue;
    border-color: blue;
    transition-duration: 0.4s;
}

#addform{
    display: none;
}

#editform{
    display: none;
}


#addform form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#addform input{
    font-family: "Oswald", sans-serif;
    margin-top: 5%;
}

#editform form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#editform input{
    font-family: "Oswald", sans-serif;
    width: 100%;
    margin-top: 5%;
}