@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    height: 100vh;
    flex-flow: row;
    margin: 0;
    background-color: aqua;
}

/* Barra lateral */

.sidebar {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 20%;
    background-color: black;
}

.logout{
    display: flex;
    width: 60%;
    padding: 14px;
    border-radius: 16px;
    font-family: 'Oswald', sans-serif;
    color: black;
    background-color: white;
    border: none;
    font-size: 20px;
    transition: 500ms;
}

.logout:hover{
    color: black;
    background-color: red;
}

.logout img{
    margin-right: 4px;
    width: 20%;
    padding: 0;
    border: none;
}

.operations {
    display: grid;
    grid-template-columns: 1;
    width: 100%;
    background-color: black;
    margin-bottom: 100%;
}

.operations button{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0;
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: transparent;
    border: none;
    height: 40px;
    font-size: 20px;
    transition: 500ms;
}

.operations button:hover{
    color: black;
    background-color: white;
}

/* Vista principal */

.mainview{
    background-color: #cfcfcf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
    height: 100%;
    width: 100%;
}

#welcomeview{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.addform{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.addform input{
    border-color: black;
    width: 100%;
    padding: 2%;
    margin-top: 4%;
    border-radius: 6px;
    font-family: "Oswald", sans-serif;
}

.editform{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.editform input{
    border-color: black;
    width: 100%;
    padding: 2%;
    margin-top: 4%;
    border-radius: 6px;
    font-family: "Oswald", sans-serif;
}








/* Estilos de clases: botones, textos, etc */

.title{
    font-weight: bold;
    font-size: 40px;
}

.subtitle{
    font-weight: lighter;
    font-size: 20px;
}

.datatable{
    width: 100%;
    font-family: "Oswald", sans-serif;
    text-align: center;
    border-collapse: collapse;
    overflow: hidden;
}

.datatable th{
    overflow-x: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0px;
    background-color: aqua;
}

.datatable td{
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-bottom: 2px solid rgb(204, 204, 204);
}

.searchBar{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

.regularBton{
    font-family: 'Oswald', sans-serif;
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: black;
    background-color: transparent;
    border-color: transparent;
    transition-duration: 0.4s;
}

.regularBton:hover{
    color: white;
    background-color: blue;
    border-color: blue;
}

.addBton{
    font-family: 'Oswald', sans-serif;
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: white;
    background-color: black;
    border-color: transparent;
    transition-duration: 0.4s;
}

.addBton:hover{
    color: white;
    background-color: greenyellow;
    border-color: greenyellow;
}

.detailsBton{
    font-family: 'Oswald', sans-serif;
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: black;
    background-color: transparent;
    border-color: transparent;
    transition-duration: 0.4s;
}

.detailsBton:hover{
    color: white;
    background-color: blue;
    border-color: blue;
}

.enableditBton{
    font-family: 'Oswald', sans-serif;
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: black;
    background-color: transparent;
    border-color: transparent;
    transition-duration: 0.4s;
}

.enableditBton:hover{
    color: white;
    background-color: blue;
    border-color: blue;
}

.deleteBton{
    font-family: 'Oswald', sans-serif;
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: black;
    background-color: transparent;
    border-color: transparent;
    transition-duration: 0.4s;
}

.deleteBton:hover{
    color: white;
    background-color: red;
    border-color: red;
}

.cancelBton{
    font-family: 'Oswald', sans-serif;
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: black;
    background-color: transparent;
    border-color: transparent;
    transition-duration: 0.4s;
}

.cancelBton:hover{
    color: white;
    background-color: black;
    border-color: black;
}

.saveBton{
    font-family: 'Oswald', sans-serif;
    margin-top: 4%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: black;
    background-color: transparent;
    border-color: transparent;
    transition-duration: 0.4s;
}

.saveBton:hover{
    color: white;
    background-color: green;
    border-color: green;
}